{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ 'content.create'|trans }}</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="content-fields">
                    {{ include('@SherlockodeAdvancedContent/Content/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
