{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container edit-content">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>Show Content</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% for element in content.data %}
                    {{ acb_render_element(element) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
