{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container edit-content">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>Show Content</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for element in content.data %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ acb_render_element(element) }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
