{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'page_type.create'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_page_type_list') }}" class="float-end">{{ 'back_to_list'|trans }}</a>
            </div>
        </div>
        <hr>
        {% include '@SherlockodeAdvancedContent/PageType/_form.html.twig' %}
    </div>
{% endblock %}
