.acb-add-collection-item {
    margin-top: 10px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    display: flex;
    padding: 8px;
    align-items: center;
}

.element-position {
    display: none;
}
