.acb-field .panel-actions button {
    color: #fff;
    border: 0;
    background: none;
}
.acb-field .panel-actions button:hover {
    color: #fff;
}
.acb-field .edit-field:hover {
    cursor: pointer;
}
.btn-add-field {
    margin-top: 25px;
}
.acb-group {
    border: 1px solid #ddd;
    padding: 5px;
}
.acb-error {
    color: #f00;
    display: block;
}
.acb-field.field-error > .edit-field {
    box-shadow: 0 0 10px #f00;
}
.acb-collection .acb-field {
    border: 1px solid #ddd;
    padding: 5px;
}
.acb-add-collection-item {
    margin-top: 10px;
}

.acb_translations .acb-duplicate-locale-content {
    margin: 0 5px;
}
.acb_translations .nav li .acb-duplicate-dropdown {
    padding: 10px 15px;
    background: #f3f3f3;
}
.acb_translations .nav li .acb-duplicate-dropdown a {
    color: #919191;
}
.acb_translations .nav li .acb-duplicate-dropdown a:hover,
.acb_translations .nav li .acb-duplicate-dropdown a:focus {
    text-decoration: none;
}
.acb_translations .dropdown-menu {
    padding: 8px 15px;
    max-width: 240px;
}
.acb_translations .acb-duplicate-locale-content-icon {
    height: 12px;
    width: 12px;
    background: #5cb85c;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 5px;
}
.acb_translations .acb-delete-locale-content {
    height: 12px;
    width: 12px;
    background: #d9534f;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 5px;
}
.acb_translations .acb-delete-locale-content:after {
    content: '';
    background: white;
    position: absolute;
    top: 37%;
    left: 18%;
    text-align: center;
    height: 25%;
    width: 65%;
    border-radius: 1px;
}
.acb_translationFields {
    padding-top: 10px;
}
.element-position {
    display: none;
}
