/* CSS for base CRUD layout*/
.content .page-info {
    margin-top: 15px;
    margin-bottom: 20px;
}
.content .page-info h1 {
    display: inline;
}
.content .buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.acb-fields .form-control.choice-label {
    display: inline-block;
    width: 90%;
    margin-right: 10px;
}
