.acb-field .remove-field {
    color: #fff;
    border: 0;
    background: none;
}
.acb-field .remove-field:hover {
    color: #fff;
}
.acb-field .edit-field:hover {
    cursor: pointer;
}
.acb-field .actions {
    display: none;
}
.acb-field .panel-heading:hover > .actions {
    display: block;
}
.btn-add-field {
    margin-top: 25px;
}
.acb-group {
    border: 1px solid #ddd;
    padding: 5px;
}
.acb-collection-error {
    color: #f00;
    display: block;
}
.acb-field.field-error .edit-field {
    box-shadow: 0 0 10px #f00;
}
.acb-collection .acb-field {
    border: 1px solid #ddd;
    padding: 5px;
}
