
.acb-field-list-container {
    .group-name {
        font-size: 18px;
    }

    .acb-field-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0;

        .acb-field-item {
            display: block;
            position: relative;
            width: 23%;
            min-width: 120px;
            margin: 6px 12px 6px 0;

            input {
                position: absolute;
                visibility: hidden;

                &:checked + label {
                    background: #e5e5e5;
                    box-shadow: 0 0 4px #999;
                }
            }

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #aaa;
                border-radius: 4px;
                padding: 16px;
                text-align: center;
                cursor: pointer;
                font-size: 16px;

                i {
                    margin: 2px 12px 8px;
                    font-size: 1.5em;
                }
            }
        }
    }
}
