.acb-field {
    border: 1px solid #ddd;
    margin: 16px 0;
    border-radius: 4px;
    background: #fff;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .acb-field-heading {
        padding: 8px 16px;

        .field-name {
            font-size: 18px;
            font-weight: bold;
            margin: 0 4px;
        }
    }
    .field-actions {
        float: right;
        margin: 4px;
        display: flex;

        button {
            color: #333;
            border: 1px solid #ddd;
            background: none;
            display: flex;
            padding: 8px;
            align-items: center;

            + button {
                border-left: 0;
            }

            &:first-child {
                border-radius: 3px 0 0 3px;
            }
            &:last-child {
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .missing-preview {
        font-size: 16px;
        font-weight: bold;
        color: #777;
        text-align: center;
        padding: 26px 0;
        position: relative;

        i {
            position: absolute;
            font-size: 72px;
            color: #e8e8e8;
            z-index: 0;
            left: 50%;
            margin-left: -36px;
        }
        p {
            z-index: 1;
            position: relative;
        }
    }
}
.btn-add-field {
    margin-top: 25px;
}
.acb-edit-field-form {
    .acb-field-element-compound {
        > div {
            border: 1px solid #ccc;
            padding: 12px;
        }
    }
}
.acb-sortable-group {
    padding: 12px 0;
}
