.acb-field {
    border: 1px dashed rgb(0 0 0 / 10%);
    border-radius: 4px;
    background: #fff;
    position: relative;

    &:not(.acb-layout-column) {
        margin: 16px 0;
    }
    &.acb-layout-column {
        min-height: 50px;
    }

    &.ui-sortable-helper {
        &, &:hover {
            border-color: transparent;
        }
        background: transparent;
        * {
            display: none;
        }
        .acb-element-toolbar {
            &, .acb-field-heading {
                &, .field-name {
                    display: block;
                }
                .field-actions {
                    display: none;
                }
            }
        }
    }

    &:not(.acb-layout-row):not(.acb-layout-column):first-child {
        margin-top: 0;
    }
    &:not(.acb-layout-row):not(.acb-layout-column):last-child {
        margin-bottom: 0;
    }

    .acb-field-heading {
        padding: 0;
        cursor: move;

        .field-name {
            font-size: 18px;
            font-weight: bold;
            margin: 0 4px;
        }
    }
    .acb-field-body {
        padding: 8px 16px;
    }
    .field-actions {
        float: right;
        margin: 4px;
        display: flex;

        button {
            color: #333;
            border: 1px solid #ddd;
            background: none;
            display: flex;
            padding: 8px;
            align-items: center;

            + button {
                border-left: 0;
            }

            &:first-child {
                border-radius: 3px 0 0 3px;
            }
            &:last-child {
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .missing-preview {
        font-size: 16px;
        font-weight: bold;
        color: #777;
        text-align: center;
        padding: 26px 0;
        position: relative;

        i {
            position: absolute;
            font-size: 72px;
            color: #e8e8e8;
            z-index: 0;
            left: 50%;
            top: 0;
            margin-left: -36px;
        }
        p {
            z-index: 1;
            position: relative;
        }
    }

    .acb-elements-container & {
        > .acb-element-toolbar {
            display: none;
            position: absolute;
            top: -40px;
            background-color: #ffffff;
            width: auto;
        }

        &:hover {
            body:not(.acb-sorting) & {
                border: 1px dashed red;

                > .acb-element-toolbar {
                    display: block;
                }
            }
        }
    }
}
.acb-add-field-container {

    + .acb-add-field-container,
    + .ui-sortable-helper + .acb-add-field-container {
        /* avoid showing 2 consecutive buttons during drag and drop */
        display: none;
    }

    border: 1px dashed #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 20px;

    .btn {
        position: relative;
        z-index: 1;
        background: #e9e9ed;

        i {
            font-size: 2.5em;
        }
        span {
            display: block;
        }
    }
}
.acb-edit-field-form {
    .acb-field-element-compound {
        > div {
            border: 1px solid #ccc;
            padding: 12px;
        }
    }
}
.acb-sortable-group {
    padding: 12px 0;
}
.acb-sortable-drop-zone {
    height: 40px;
    background-image: linear-gradient(45deg, #d4d4d4 8.33%, #ffffff 8.33%, #ffffff 50%, #d4d4d4 50%, #d4d4d4 58.33%, #ffffff 58.33%, #ffffff 100%);
    background-size: 8.49px 8.49px;
}
