.acb-page-field-container {
    padding: 0 0 0 12px;
    margin: 12px 0;
    border-left: 6px solid #f5f5f5;

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}
.acb-page-field-container > div {
    flex-grow: 1;
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {
    .acb-page-meta-container > div {
        flex-basis: 40%;
    }
}

