.acb_translations {
    .acb-duplicate-locale-content {
        margin: 0 6px;

        &.selected {
            border: 2px solid #5cb85c;

            ~ .acb-duplicate-source {
                display: block;
            }
        }
    }
    .acb-duplicate-source {
        display: none;
    }

    .acb-delete-locale-content {
        height: 12px;
        width: 12px;
        background: #d9534f;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin: 0 5px;

        &::after {
            content: '';
            background: white;
            position: absolute;
            top: 37%;
            left: 18%;
            text-align: center;
            height: 25%;
            width: 65%;
            border-radius: 1px;
        }
    }
}
.acb_translationFields {
    padding-top: 10px;
}
