{% if form['children'] is defined %}
    {% form_theme form['children'] '@SherlockodeAdvancedContent/Form/content_type.html.twig' %}
    <div class="col-md-2">
        {{ form_label(form['children']) }}
    </div>
    <div class="col-md-10">
        <div class="acb-sortable-group" data-sortable-group-id="{{ form.vars.id }}">
            {{ form_widget(form['children']) }}
        </div>
    </div>
{% endif %}
